<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut toi !</h1>
    <p>
      L'utilisateur <%= @attendance.attendee.email %> vient de se rajouter à ton évènement <%= @event.title %>.
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
    <p> https://wannahangout.herokuapp.com !
  </body>
</html>
