<div class="image-side carousel">
   <%= image_tag "club.jpg", :alt => "Hashtag-ruby", class: "banner" %>
    <div class="carousel-caption d-none d-md-block">
              <h1 class="banner-text banner-title">Profile page</h1>
            </div>
  </div>
<br>
