<% if flash[:notice] %>
  <div class="alert alert-dismissible alert-success">
    <div class="notice"><strong><%= flash[:notice] %></strong></div>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
<% end %>

<% if flash[:danger] %>
  <div class="alert alert-dismissible alert-danger">
    <div class="notice"><strong><%= flash[:danger] %></strong>
     </div>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
<% end %>
