<body>

    <footer class="footer navbar-fixed-bottom fixed-bottom text-center small bg-dark">
      <div class="container">
        <span class="text-muted">&#9400; 2019. Made with &hearts; by Margaux. THP Lille.</span>
      </div>
    </footer>
  </body>
